<h1 class="center">Height and weight</h1>

<table id="instructions" class="two-col" style="width: 50%; margin: 6rem auto 0 auto;">
  <tr>
    <td style="text-align: center;vertical-align: middle;">
      <%= image_tag "stand_up_straight.svg", style: "height: 350px;" %>
    </td>
    <td style="vertical-align: middle;">
      <ol style="font-size: 2rem; line-height: 5rem;">
        <li>Stand on the scales</li>
        <li>Stand up straight</li>
        <li>Listen for a "beep"</li>
      </ol>
    </td>
  </tr>
</table>

<div id="results" style="display: none;">
  <% arrow_fill = "#bbb" %>
  <table class="datepicker">
    <tr>
      <td id="btn-height-add"><%= svg_use "#icon-arrow-up", style: "fill: #{arrow_fill}; width: 5rem;" %></td>
      <td id="btn-weight-add"><%= svg_use "#icon-arrow-up", style: "fill: #{arrow_fill}; width: 5rem;" %></td>
    </tr>
    <tr>
      <td>Your height<div id="height" style="margin-right: 1rem;"></div></td>
      <td>Your weight<div id="weight"></div></td>
    </tr>
    <tr>
      <td id="btn-height-minus"><%= svg_use "#icon-arrow-down", style: "fill: #{arrow_fill}; width: 5rem;" %></td>
      <td id="btn-weight-minus"><%= svg_use "#icon-arrow-down", style: "fill: #{arrow_fill}; width: 5rem;" %></td>
    </tr>
  </table>
</div>

<p style="text-align: center">Adjust your height and weight using the arrows if necessary</p>

<%= form_tag bmi_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[height]', '' %>
  <%= hidden_field_tag 'user_data[weight]', '' %>
<% end %>

<div id="retry-bmi-model-content" style="display: none;">
  <h1 class="center">Try measuring your<br/>height and weight again?</h1>
  <div style="text-align: center;margin: 3rem auto 4rem auto;">
    <p>There was a problem with measuring your height and weight.</p>
    <p>Would you like to try again?</p>
  </div>

  <table class="two-col" style="width: 30rem;">
    <tr>
      <td><button type="button" class="btn btn-primary" onclick="retryReadBmiData();return false;">Retry</button></td>
      <td style="text-align: right;"><button type="button" class="btn btn-secondary" onclick="gotoNext();return false;">Cancel</button></td>
    </tr>
  </table>
</div>
<%= render :partial => 'partials/modal' %>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "submit_values()" %>
<% end %>

<script>

var height, weight;
var retryDialogContent;
var retryCount = 0;
var MAX_BMI_READ_RETRIES = <%= Rails.configuration.x.max_bmi_scale_retries %>
var ajax_url = '<%= bmi_read_url %>';
var next_url = '<%= has_diabetes_url %>';

var REPEAT_SPEED = 333;
var repeatCallback= 0;

$(document).ready(function() {

  $('#btn-height-add').mousedown(function() { addHeight(); render(); repeatCallback = setInterval(function(){ addHeight(); render(); }, REPEAT_SPEED); return false; })
  $('#btn-height-minus').mousedown(function() {  minusHeight(); render(); repeatCallback = setInterval(function(){ minusHeight(); render(); }, REPEAT_SPEED); return false; })
  $('#btn-weight-add').mousedown(function() { addWeight(); render(); repeatCallback = setInterval(function(){ addWeight(); render(); }, REPEAT_SPEED); return false; })
  $('#btn-weight-minus').mousedown(function() {  minusWeight(); render(); repeatCallback = setInterval(function(){ minusWeight(); render(); }, REPEAT_SPEED); return false; })

  $(document).mouseup(function(){
    clearInterval(repeatCallback);
    return false;
  });

  retryDialogContent = $("#retry-bmi-model-content").detach();
  readBmiData();
});

function readBmiData() {
  $.ajax({
    url: ajax_url,
    success: function (data) {
        height = parseFloat(data.height);
        weight = parseFloat(data.weight);
        $('#instructions').hide();
        render();
        $('#results').show();
        $('#next').removeClass('disabled').attr('href', next_url);
    },
    error: function () {
      if (retryCount < MAX_BMI_READ_RETRIES) {
        showModal(retryDialogContent);
      } else {
        gotoNext();
      }
    }
  });
}

function retryReadBmiData() {
  retryCount++;
  resetSession();
  hideModal();
  readBmiData();
}

function gotoNext() {
  window.location = next_url;
}

function render() {
  $('#weight').text(weight + ' kg');
  $('#height').text(height + ' cm');
}

function addHeight() {
  height += 1;
  render();
}

function minusHeight() {
  height -= 1;
  render();
}

function addWeight() {
  weight += 0.5;
  render();
}

function minusWeight() {
  weight -= 0.5;
  render();
}

function submit_values() {
  $('#user_data_height').val(height);
  $('#user_data_weight').val(weight);
  $('#form').submit();
}

</script>

<%= render :partial => 'partials/timeout_modal' %>
