<h1 class="center">Height and weight</h1>

<table id="instructions" class="two-col" style="width: 50%; margin: 6rem auto 0 auto;">
  <tr>
    <td style="text-align: center;vertical-align: middle;">
      <%= image_tag "stand_up_straight.svg", style: "height: 350px;" %>
    </td>
    <td style="vertical-align: middle;">
      <ol style="font-size: 2rem; line-height: 5rem;">
        <li>Stand on the scales</li>
        <li>Stand up straight</li>
        <li>Listen for a "beep"</li>
      </ol>
    </td>
  </tr>
</table>

<table id="results" class="two-col" style="width: 50%; margin: 6rem auto 0 auto;display: none;">
  <tr>
    <td style="text-align: center;vertical-align: middle;font-size: 2rem;">
      Your weight
      <div id="weight"></div>
    </td>
    <td style="text-align: center;vertical-align: middle;font-size: 2rem;">
      Your height
      <div id="height"></div>
    </td>
  </tr>
</table>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button nil, has_diabetes_url, "Next" %>
<% end %>

<script>
$(document).ready(function() {
  ajax_url = '<%= bmi_read_url %>';
  next_url = '<%= has_diabetes_url %>'

  $.ajax({
    url: ajax_url,
    success: function (data) {
        $('#instructions').hide();
        $('#weight').text(data.weight + ' kg');
        $('#height').text(data.height + ' cm');
        $('#results').show();
        $('#next').removeClass('disabled').attr('href', next_url);
    },
    error: function () {
      alert('Error');
    }
  });
});
</script>

<%= render :partial => 'partials/timeout_modal' %>
