<h1 class="center">Have you ever been told by a doctor<br />or at a hospital you have diabetes?</h1>

<!-- Yes, No, (If Female additional option is Yes -only during pregnancy), Don’t know -->


<div style="text-align: center; width: 38rem; margin: 6rem auto;">
  <ul class="options" data-option-group="user_data_has_diabetes" data-callback="validateForm" style="text-align: left;">
    <% UserData::DIABETES.each do |d| %>
    <% if d[:female] && !@user_data.female? then %>
      <% next %>
    <% else %>
      <li class="option" data-value="<%= d[:id] %>"><span></span><%= d[:name] %></li>
    <% end %>
    <% end %>
  </ul>
</div>

<%= form_tag has_diabetes_url, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[has_diabetes]', '' %>
<% end %>

<script>

function validateForm(val) {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();", "#", "Finish" %>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
