<h1 class="center">Other allergies</h1>

<%= form_tag other_allergies_path, { :id => "form", :autocomplete => "off" } do |f| %>

  <div style="text-align: center; width: 75%; margin-left: auto; margin-right: auto;">
      <input type="text" id="other_allergies" name="user_data[other_allergies]" value=""
        placeholder="Example: Pollen" data-osk-options="disableReturn disableTab">
  </div>

<% end %>

<script>
$(document).ready(function() {
  field = $('#other_allergies');
  field.onScreenKeyboard({ topPosition: '28%', leftPosition: '19%'});
  field.click();
  field.focus();
  $("#next").removeClass("disabled");
});
</script>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
