<h1 class="center">On average, would you say you do at least 2.5 hours<br/>of physical activity per week?</h1>

<p style="text-align: center; font-size: 2rem;">
  For example, 30 minutes a day on 5 or more days a week
</p>

<table class="two-col"style="margin-top: 10rem;">
  <tr>
    <td style="text-align: right;">
      <div class="btn btn-secondary large" onclick="submit(1)">Yes</div>
    </td>
    <td>
      <div class="btn btn-secondary large"  onclick="submit(0)">No</div>
    </td>
  </tr>
</table>

<%= form_tag diabetes_physical_activity_url, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[diabetes_physical_activity]', '' %>
<% end %>

<script>
function submit(val) {
  $('#user_data_returning_user').val(val);
  $('#form').submit();
}
</script>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: hub_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <span style="visibility: hidden;"><%= next_button "$('#form').submit();" %></span>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
