<% sizes = @user_data.female? ? UserData::WAIST_SIZES_WOMEN : UserData::WAIST_SIZES_MEN %>

<h1 class="center">Your waist measurement</h1>

<p style="margin: 3rem auto;text-align: center;">
  Select the column which best matches your waist measurement
</p>

<div style="text-align: center; margin: 3rem auto;">
  <table class="waist-sizes">
    <tr class="options" data-option-group="user_data_diabetes_waist_measurement" data-callback="validateForm">
      <td></td>
      <% sizes.each do |s| %>
      <td><li id="waist-size-<%= s[:cm] %>" class="option" data-value="<%= s[:cm] %>"><span></span></li></td>
      <% end %>
    </tr>
    <tr>
      <th>Clothing size</th>
      <% sizes.each do |s| %>
      <td onclick="$('#waist-size-<%= s[:cm] %> span').trigger('click');"><%= s[:clothing] %></td>
      <% end %>
    </tr>
    <tr>
      <th>Waist size (cm)</th>
      <% sizes.each do |s| %>
      <td onclick="$('#waist-size-<%= s[:cm] %> span').trigger('click');"><%= s[:cm] %> cm</td>
      <% end %>
    </tr>
    <tr>
      <th>Waist size (inches)</th>
      <% sizes.each do |s| %>
      <td onclick="$('#waist-size-<%= s[:cm] %> span').trigger('click');"><%= s[:inches] %> &Prime;</td>
      <% end %>
    </tr>
  </table>
</div>

<%= form_tag diabetes_waist_measurement_url, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[diabetes_waist_measurement]', '' %>
<% end %>

<script>

function validateForm(val) {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: hub_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();", "#", "Finish" %>
<% end %>

<%= render :partial => 'partials/timeout_modal' %>
