<h1 class="center">
  <%= image_tag "diabetes.svg", style: "height: 100px;" %>
  Check your diabetes risk
</h1>

<p style="text-align: center;margin: 5rem auto;">
  This survey will take about <%= UserData::DIABETES_SURVEY_ESTIMATE %> to complete
</p>

<% content_for :footer_left do %>
  <%= link_to hub_url, class: "nav exit" do %>
    <%= image_tag 'chevron-thin-left.svg' %>
    Back to health report
  <% end %>
<% end %>
<% content_for :footer_center do %>
  <%#= progress_bar(@percent_complete, @minutes_remaining) %>
<% end %>
<% content_for :footer_right do %>
  <%= link_to "Start", diabetes_age_group_url, class: "nav next" %>
<% end %>
