<% available = @user_data.basic_complete ? "available" : "" %>

<table class="hub">
  <tr>
    <td>
      <div class="report-card basic complete">
        <h1>Basic health check</h1>
        <% if @user_data.basic_complete %>
          <%= image_tag "check.svg", style: "height: 4.5rem; float: right" %>
        <% else %>
        <div style="margin: 4rem auto; text-align: center;">
          <%= link_to "Start", returning_user_url, class: "btn next" %>
        </div>
        <% end %>
      </div>
    </td>
    <td>
      <% complete = @user_data.diabetes_complete ? "complete" : "" %>
      <div class="report-card diabetes <%= available %> <%= complete %>">
        <%= link_to diabetes_welcome_url do %>
          <h1>Diabetes risk</h1>
        <% end %>
        <% if @user_data.basic_complete && !@user_data.diabetes_complete %>
          <div style="margin: 4rem auto; text-align: center;">
            <%= link_to "Start", diabetes_welcome_url, class: "btn btn-secondary" %>
          </div>
        <% elsif @user_data.diabetes_complete %>
           <%= image_tag "check.svg", style: "height: 4.5rem; float: right" %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <% complete = @user_data.physical_complete ? "complete" : "" %>
      <div class="report-card physical <%= available %> <%= complete %>">
        <%= link_to physical_welcome_url do %>
          <h1>Physical activity</h1>
        <% end %>
        <% if @user_data.basic_complete && !@user_data.physical_complete %>
          <div style="margin: 4rem auto; text-align: center;">
            <%= link_to "Start", physical_welcome_url, class: "btn btn-secondary" %>
          </div>
        <% elsif @user_data.physical_complete %>
           <%= image_tag "check.svg", style: "height: 4.5rem; float: right" %>
        <% end %>
      </div>
    </td>
    <td>
      <% complete = @user_data.alcohol_complete ? "complete" : "" %>
      <div class="report-card alcohol <%= available %> <%= complete %>">
        <%= link_to alcohol_welcome_url do %>
          <h1>Alcohol consumption</h1>
        <% end %>
        <% if @user_data.basic_complete && !@user_data.alcohol_complete %>
          <div style="margin: 4rem auto; text-align: center;">
            <%= link_to "Start", alcohol_welcome_url, class: "btn btn-secondary" %>
          </div>
        <% elsif @user_data.alcohol_complete %>
           <%= image_tag "check.svg", style: "height: 4.5rem; float: right" %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<script>
$(document).ready(function() {
  //$('#footer').hide();
});
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_right do %>
  <% if @user_data.basic_complete %>
    <%= link_to "Print and Exit", print_url, class: "nav next" %>
  <% end %>
<% end %>
