<h1 class="center done"><div class="">Your health report

</div></h1>
<table class="hub">
  <tr>
    <td>
      <div class="report-card basic complete">
        <h1>Basic health check</h1>
      </div>
    </td>
    <td>
      <%= link_to diabetes_url, class: "report-card diabetes" do %>
        <%#= image_tag "diabetes.svg", style: "height: 100px;" %>
        <h1>Diabetes risk</h1>
        <div class="check-now">Check now</div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to physical_url, class: "report-card physical" do %>
        <h1>Physical activity</h1>
        <div class="check-now">Check now</div>
      <% end %>
    </td>
    <td>
      <%= link_to alcohol_url, class: "report-card alcohol" do %>
        <h1>Alcohol consumption</h1>
        <div class="check-now">Check now</div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= link_to "Exit", root_url, class: "nav exit" %></td>
    <td style="text-align: right;"><%= link_to "Print and Exit", print_url, class: "nav next" %></td>
  </tr>
</table>

<script>
$(document).ready(function() {
  $('#footer').hide();
});
</script>
