<h1 class="center">How often do you have six or more drinks on one occasion?</h1>

<div style="text-align: center; width: 36rem; margin: 6rem auto;">
  <ul class="options" data-option-group="user_data_alcohol_frequency_six_or_more" data-callback="validateForm" style="text-align: left;">
    <% UserData::ALCOHOL_FREQUENCY_SIX_OR_MORE.each do |r| %>
    <li class="option" data-value="<%= r[:id] %>"><span></span><%= r[:name] %></li>
    <% end %>
  </ul>
</div>

<%= form_tag alcohol_frequency_six_or_more_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[alcohol_frequency_six_or_more]', '' %>
<% end %>

<script>

function validateForm(val) {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: hub_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();", "#", "Finish" %>
<% end %>
