

<table class="two-col border">
  <tr>
    <td>
      <h1 class="center">Date of birth</h1>
    </td>
    <td style="text-align: center;">
      <h1 class="center">Gender</h1>
      <div class="options" data-option-group="user_data_gender" data-callback="validateForm" style="margin: 6rem auto;text-align: center;">
        <div class="option" style="margin-right: 10rem; margin-bottom: 5rem;" data-value="Male"><%= image_tag "male.svg", style: "height: 200px;" %></div>
        <div class="option" style="margin-bottom: 5rem;" data-value="Female"><%= image_tag "female.svg", style: "height: 200px;" %></div>
        <div style="clear: both;"></div>
        <div class="option" style="display: inline-block;" data-value="No answer">Prefer not to answer</div>
      </div>
    </td>
  </tr>
</table>

<%= form_tag date_of_birth_and_gender_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[gender]', '' %>
<% end %>

<script>

function validateForm(val) {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
