

<table class="two-col border">
  <tr>
    <td>
      <h1 class="center">Date of birth</h1>
    </td>
    <td>
      <h1 class="center">Gender</h1>
      <ul class="options" data-option-group="user_data_gender" data-callback="validateForm" style="margin: 6rem 2rem;">
        <li class="option" data-value="Male"><span></span>Male</li>
        <li class="option" data-value="Female"><span></span>Female</li>
        <li class="option" data-value="Neither"><span></span>Neither male nor female</li>
        <li class="option" data-value="No answer"><span></span>Prefer not to answer</li>
      </ul>
    </td>
  </tr>
</table>

<%= form_tag date_of_birth_and_gender_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[gender]', '' %>
<% end %>

<script>

function validateForm(val) {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
