<h1 class="center">Your full name</h1>

<%= form_tag full_name_path, { :id => "form", :autocomplete => "off" } do |f| %>

  <div style="text-align: center; width: 75%; margin-left: auto; margin-right: auto;">
      <%= text_field_tag 'user_data[full_name]', '', id: 'full_name',
        placeholder: "Example: Jane Citizen", "data-osk-options": "disableReturn disableTab disableSymbols" %>
  </div>

<% end %>

<script>
$(document).ready(function() {
  full_name = $('#full_name');

  full_name.on('keyup', function() {
    if (full_name.val().trim().length > 2) {
      $('#next').removeClass('disabled');
    } else {
      $('#next').addClass('disabled');
    }
  });

  full_name.onScreenKeyboard({ topPosition: '28%', leftPosition: '19%'});
  full_name.click();
  full_name.focus();

});
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: hub_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
