<h1 class="center">Where do you live?</h1>

<%= form_tag suburb_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[suburb]', '' %>

  <table class="two-col options" style="width: 100%;" class="options" data-option-group="user_data_has_diabetes" data-callback="validateForm">
    <tr>
      <td><div class="option list-option" data-value="Yes"><span></span>Inside the ACT</div></td>
      <td><div class="option list-option" data-value="Don’t know"><span></span>Outside the ACT</div></td>
    </tr>
  </table>


<% end %>

<script>
$(document).ready(function() {
  $('#next').removeClass('disabled');
});
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
