<h1 class="center">Where do you live?</h1>

<% arrow_fill = "#bbb" %>
<div style="width: 30rem;margin: 0 auto; text-align: center;">
  <div class="scroll-btn" onmousedown="scrollUp()"><%= svg_use "#icon-arrow-up", style: "fill: #{arrow_fill}; height: 3rem;" %></div>
  <ul id="suburbs-list" class="options scroll-list" style="text-align: left;" data-option-group="user_data_suburb" data-callback="validateForm">
    <li class="option option-se" data-value="Outside the ACT"><span></span>Outside the ACT</li>
    <li class="option option-sep" data-value="Other ACT suburb"><span></span>Other ACT suburb</li>
  <% UserData::SUBURBS.each do |s| %>
    <li class="option" data-value="<%= s %>"><span></span><%= s %></li>
  <% end %>
  </ul>
  <div class="scroll-btn" onmousedown="scrollDown()"><%= svg_use "#icon-arrow-down", style: "fill: #{arrow_fill}; height: 3rem;" %></div>
</div>


<%= form_tag suburb_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[suburb]', '' %>
<% end %>

<script>

$(document).ready(function() {
  var $scroller = $('#suburbs-list').kinetic();
}).mouseup(function() {
  $('#suburbs-list').kinetic('end');
});

function scrollUp() {
  $('#suburbs-list').kinetic('start', { velocityY: -10 });
}

function scrollDown() {
  $('#suburbs-list').kinetic('start', { velocityY: 10 });
}

function validateForm() {
  $('#next').removeClass('disabled');
}

</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: hub_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
