<h1 class="center">Which allergies do you have?</h1>

<%= form_tag allergy_list_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[allergy_list]', '' %>
<% end %>

<script>
$(document).ready(function() {
  $('#next').removeClass('disabled');
});
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <%= next_button "$('#form').submit();" %>
<% end %>
