<h1 class="center">Do you have any allergies?</h1>

<table class="two-col" data-option-group="user_data_has_allergies" data-callback="validateForm" style="margin-top: 10rem;">
  <tr>
    <td style="text-align: right;">
      <div class="option large option-btn" data-value="1">Yes</div>
    </td>
    <td>
      <div class="option large option-btn" data-value="0">No</div>
    </td>
  </tr>
</table>

<%= form_tag has_allergies_path, { :id => "form", :autocomplete => "off" } do |f| %>
  <%= hidden_field_tag 'user_data[has_allergies]', '' %>
<% end %>

<script>
function validateForm(val) {
  //$('#next').removeClass('disabled');
  $('#form').submit();
}
</script>

<% content_for :footer_left do %>
  <label class="nav exit" for="exit-modal">Exit</label>
  <%= render :partial => 'partials/exit_modal', locals: { exit_url: root_url } %>
<% end %>
<% content_for :footer_center do %>
  <%= progress_bar %>
<% end %>
<% content_for :footer_right do %>
  <span style="visibility: hidden;"><%= next_button "$('#form').submit();" %></span>
<% end %>
