<!DOCTYPE html>
<html>
<head>
  <title>HealthPod</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
  <style>* {
    cursor: none !important;
  }</style>
  <% end %>
</head>
<body>
  <%= render :partial => 'partials/svg_icons' %>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    <table>
      <tr>
        <td><%= yield :footer_left %></td>
        <td style="text-align: center;"><%= yield :footer_center %></td>
        <td style="text-align: right;"><%= yield :footer_right %></td>
      </tr>
    </table>
    </div>
  </div>
</body>
</html>
